#player {
    width: 100%;
}

.ktv-player {
    position: relative;
}

.subtitle {
    position: absolute;
    display: inline;
    background: rgba(0, 0, 0, 0.7);
    border-radius: 5px;
    line-height: 1;
    user-select: none;
}

.subtitle * {
    display: inline-block;
    line-height: 1;
}

.subtitle span {
    white-space: nowrap;
}

.word {
    position: relative;
}

.word > * {
    top: 0;
    left: 0;
    font-weight: bolder;
}

.word .bg {
    color: white;
    -webkit-text-stroke: 1px black;
}

.word .fg {
    position: absolute;
    color: blue;
    -webkit-text-stroke: 1px white;
    top: 0;
    left: 0;
    overflow-x: hidden;
    transition: width 0.5s;
    height: 100vh;
}