# MYSQL
MYSQL_ROOT_PASSWORD=mysql
MYSQL_USER=airflow
MYSQL_PASSWORD=airflow

# MINIO
MINIO_ROOT_USER=minioadmin
MINIO_ROOT_PASSWORD=minioadmin
MINIO_BROWSER_REDIRECT_URL=https://example.com/minio/
MINIO_VOLUME_BASE=/mnt/minio
# REDIS
REDIS_HOST_PASSWORD=redis

# AIRFLOW
AIRFLOW__CORE__EXECUTOR=CeleryExecutor
AIRFLOW__CORE__AUTH_MANAGER=airflow.providers.fab.auth_manager.fab_auth_manager.FabAuthManager
AIRFLOW__CELERY__BROKER_URL=amqp://rabbitmq:5672//
AIRFLOW__API__BASE_URL=/airflow
AIRFLOW__CORE__DAGS_ARE_PAUSED_AT_CREATION=true
AIRFLOW__CORE__EXECUTION_API_SERVER_URL=http://ktv-airflow-apiserver:8080/airflow/execution/
AIRFLOW__DATABASE__SQL_ALCHEMY_CONN=mysql+mysqldb://${MYSQL_USER}:${MYSQL_PASSWORD}@db/airflow
AIRFLOW__CELERY__RESULT_BACKEND=db+mysql://${MYSQL_USER}:${MYSQL_PASSWORD}@db/celery
AIRFLOW__API__SECRET_KEY=secret
AIRFLOW__API_AUTH__JWT_SECRET=secret
AIRFLOW_CONN_JOB_WEBHOOK_SERVER=http://ktv-web:8000/http
AIRFLOW_VOLUME_BASE=/mnt/airflow

# AIRFLOW INIT
_AIRFLOW_DB_MIGRATE=true
_AIRFLOW_WWW_USER_CREATE='true'
_AIRFLOW_WWW_USER_USERNAME=airflow
_AIRFLOW_WWW_USER_PASSWORD=airflow

# AIRFLOW FLOWER
FLOWER_URL_PREFIX=/flower
FLOWER_BASIC_AUTH=flower:flower

# Workers
log_level=INFO
storage__endpoint=ktv-minio:9000
storage__access_key=${MINIO_ROOT_USER}
storage__secret_key=${MINIO_ROOT_PASSWORD}
storage__secure=False
provider__acoustid=False
provider__acoustid_api_key=api_key

MODELS_VOLUME_BASE=/mnt/models

# WEB API
server__room=True
server__job=True
server__web=False
server__yt=True
server__artifact=True
server__socketio_message_queue=redis://:${REDIS_HOST_PASSWORD}@redis:6379/1
airflow__username=${_AIRFLOW_WWW_USER_USERNAME}
airflow__password=${_AIRFLOW_WWW_USER_PASSWORD}